@import "../../../Styles/variables";

.accountCard {
  background-color: $white;
  display: flex;
  gap: $space-x-1;
  padding: 32px 16px;

  @media (min-width: $breakpoint) {
    width: 85vw;
    gap: $gap-desktop;
    padding: 32px;

  }

  &.oldBooking {
    opacity: 0.7;
  }

  img {
    width: 120px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0 12px;

    @media (min-width: $breakpoint) {
      width: 470px;
      aspect-ratio: 10/7;

      object-fit: cover;
      border-radius: 0 12px;
    }
  }

  .cardInfo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .cardTop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid $lineGray;
      flex-grow: 1;

      button {
        border: 0;
        background-color: transparent;

        i {
          padding: 0.5rem;
          font-size: 20px;
          cursor: pointer;

          @media (min-width: $breakpoint) {
            font-size: 32px;

          }

        }
      }
    }

    p.description {
      margin-block: 2rem;
    }

    .cardBottom {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      align-items: flex-end;
    }
  }
}
