@import "../../../styles/variables";

.accountCard {
  background-color: $white;
  display: flex;
  gap: $space-x-1;
  padding: 32px 16px;

  @media (min-width: $breakpoint) {
    width: 85vw;
    gap: $gap-desktop;
    padding: 32px;
  }

  // &.oldBooking {
  //   opacity: 0.7;
  // }

  img {
    width: 120px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0 12px;

    @media (min-width: $breakpoint) {
      width: 470px;
      aspect-ratio: 10/7;
      object-fit: cover;
      border-radius: 0 12px;
    }
  }

  .cardInfo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .cardTop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid $lineGray;
      flex-grow: 1;
      padding-bottom: $space-x-1;

      .cardTopinfo {
        display: flex;
        flex-direction: column;
        gap: $space-x-1;
      }

      .userActions {
        display: flex;
        flex-direction: column;
        gap: $space-x-1;
        align-items: center;

        button {
          border: 0;
          background-color: transparent;

          i {
            padding: 0.4rem;
            font-size: 20px;
            cursor: pointer;
            color: $darkGray;
            border-radius: 50%;
            transition: 0.2s ease-in-out;
            &:hover {
              background-color: $lightestGray;
              scale: 0.95;
              color: $darkestGray;
            }
            @media (min-width: $breakpoint) {
              font-size: 32px;
              padding: 1rem;
            }
          }
        }
        .fa-circle-info {
          color: $darkGray;
          font-size: 22px;
          padding: 0.4rem;

          border-radius: 50%;
          transition: 0.2s ease-in-out;
          &:hover {
            scale: 0.95;
            color: $darkestGray;
          }
          @media (min-width: $breakpoint) {
            font-size: 38px;
            padding: 1rem;
          }
        }
      }
    }

    p.description {
      margin-block: $space-x-1;
    }

    .cardBottom {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      padding-top: $space-x-1;
      align-items: flex-end;
    }
  }
}
