@use './Styles/fonts';
@use './Styles/mixins';
@import './Styles/variables';
@import './Styles/fonts';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include fonts;
}

.loader {
  display: grid;
  place-content: center;
  min-width: 100px;
}

button.bigButton:last-of-type {
  margin-bottom: $space-y-1;
}

.greenButton {
  @include mixins.bigButton;
  background-color: $green;

  &:hover {
    background-color: $lightGreen;
  }
}
.redButton {
  @include mixins.bigButton;
  background-color: $red;
  &:hover {
    background-color: $lightRed;
  }
}
.invisibleButton {
  @include mixins.invisibleButton;
}
.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}

.errorMsg {
  color: $red;
}
