body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
* a {
  text-decoration: none;
}
* h1 {
  color: #3F3F3F;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}
@media (min-width: 1000px) {
  * h1 {
    font-size: 4rem;
    line-height: 111%; /* 86.58px */
  }
}
@media (min-width: 1690px) {
  * h1 {
    font-size: 5rem;
    line-height: 111%; /* 86.58px */
  }
}
* h1.heroHeader {
  color: white;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  display: flex;
}
@media (min-width: 1000px) {
  * h1.heroHeader {
    font-size: 9rem;
  }
}
@media (min-width: 1690px) {
  * h1.heroHeader {
    font-size: 11.25rem;
  }
}
* h2,
* .h2 {
  color: #848484;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 139.5%;
}
@media (min-width: 1000px) {
  * h2,
  * .h2 {
    font-size: 2rem;
    line-height: normal;
  }
}
@media (min-width: 1690px) {
  * h2,
  * .h2 {
    font-size: 2.25rem;
    line-height: normal;
  }
}
* h2.darkGray,
* .h2.darkGray {
  color: #3F3F3F;
}
* h2.radjhani {
  color: #3F3F3F;
  font-family: Rajdhani;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
* h2.radjhani span {
  font-family: Rajdhani;
  font-weight: 400;
}
* h2.radjhani.white {
  color: white;
}
@media (min-width: 1690px) {
  * h2.radjhani {
    font-size: 1.8rem;
  }
}
* h3 {
  color: #3F3F3F;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 1000px) {
  * h3 {
    font-size: 3rem;
  }
}
@media (min-width: 1690px) {
  * h3 {
    font-size: 3.5rem;
  }
}
* p,
* .p,
* li,
* label {
  color: #616161;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
* p.italic,
* .p.italic,
* li.italic,
* label.italic {
  color: #848484;
  font-style: italic;
  font-weight: 400;
}
* p.bold,
* .p.bold,
* li.bold,
* label.bold {
  font-weight: 700;
}
* p.white,
* .p.white,
* li.white,
* label.white {
  color: white;
}
* p.lightGray,
* .p.lightGray,
* li.lightGray,
* label.lightGray {
  color: #848484;
}
* p.darkGray,
* .p.darkGray,
* li.darkGray,
* label.darkGray {
  color: #3F3F3F;
}
@media (min-width: 1690px) {
  * p,
  * .p,
  * li,
  * label {
    font-size: 1.5rem;
  }
}
* p.radjhani {
  color: #616161;
  font-family: Rajdhani;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 1690px) {
  * p.radjhani {
    font-size: 1.75rem;
  }
}
* p.xs {
  color: #848484;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
* p.xs.bold {
  color: #3F3F3F;
  font-weight: 800;
}
* p.xs.white {
  color: white;
}
@media (min-width: 1000px) {
  * p.xs {
    font-size: 1rem;
  }
  * p.xs.bold {
    font-size: 1rem;
    font-weight: 800;
  }
}
* p.xsRadjhani {
  color: #616161;
  font-family: Rajdhani;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
}
@media (min-width: 1000px) {
  * p.xsRadjhani {
    font-family: Rajdhani;
    font-size: 1rem;
  }
}
* p.banner {
  color: #000000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 111%;
}
* p.banner.white {
  color: white;
}
* p.banner span.yellow {
  color: #FFC703;
}
* p.banner span.turquoise {
  color: #27B2BB;
}
@media (min-width: 1000px) {
  * p.banner {
    font-size: 3rem;
  }
}
@media (min-width: 1690px) {
  * p.banner {
    font-size: 4rem;
  }
}
* ul {
  list-style: none;
}
* i {
  font-size: 1.75rem;
}
@media (min-width: 1000px) {
  * i {
    font-size: 2.5rem;
  }
}
@media (min-width: 1690px) {
  * i {
    font-size: 3rem;
  }
}
* .greenButton {
  background-color: #28A745;
  width: 100%;
  height: 72px;
  border: 0px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.18);
  border-radius: 0 1.25rem;
  margin-bottom: 32px;
  color: white;
  cursor: pointer;
}
@media (min-width: 1000px) {
  * .greenButton {
    box-shadow: none;
    margin-bottom: 0;
    height: 88px;
  }
}
@media (min-width: 1690px) {
  * .greenButton {
    height: 96px;
  }
}
* .greenButton h2 {
  color: white;
}
* .invisibleButton {
  height: 48px;
  width: 48px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
* .text-center {
  text-align: center;
}
* .underline {
  text-decoration: underline;
}
* .pointer {
  cursor: pointer;
}

.loader {
  display: grid;
  place-content: center;
  min-width: 100px;
}/*# sourceMappingURL=index.css.map */