@import "../../../Styles/variables";

.bookingsListWrapper {
  display: flex;
  flex-direction: column;
  margin-inline: -$space-x-1;

  .bookingsListHeader {
    background-color: $darkGray;
    padding: $space-x-1;
    h2 {
      color: white;
    }
  }

  .bookingsList {
    display: flex;
    flex-direction: column;
    gap: $space-y-3;
    background-color: $lightestGray;

    .bookingCard {
      background-color: $white;
      display: flex;
      gap: $space-x-1;
      padding: 32px 16px;

      img {
        width: 120px;
        aspect-ratio: 1;
        background-size: contain;
        border-radius: 0 12px;
      }

      .cardInfo {
        display: flex;
        flex-direction: column;
        .cardTop {
          border-bottom: 1px solid $lineGray;
          flex-grow: 1;
        }

        .cardBottom {
          display: flex;
          justify-content: space-between;
          flex-grow: 1;
          align-self: flex-end;

        }
      }
    }
  }
}
