@import "../../../Styles/variables";

.coworkCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  height: 508px;
  border-radius: 0 2.25rem;

  padding: 12px;

  @media (min-width: $breakpoint) {
    flex-basis: 384px;
    height: 536px;
  }
  @media (min-width: $breakpoint2) {
    flex-basis: 464px;
    height: 656px;
  }
}
