@import "../../../Styles/variables";

.detailsImageContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  gap: 0.25rem;
  aspect-ratio: 1;
  border-radius: 0 20px;
  overflow: hidden;

  @media (min-width: $breakpoint) {
    flex-direction: row;
    margin-top: 5rem;

    width: 100%;
    aspect-ratio: 3/1;
    border-radius: 0 80px;
    gap: 0.5rem;
    }

  .bigImage {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
  }

  .smallImageContainer {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;

    @media (min-width: $breakpoint) { 
      display: grid;
      grid-template-columns: 1fr 1fr;
      aspect-ratio: 1;
      gap: 0.5rem;
    }
    .smallImage {
      flex-grow: 1;
      opacity: 0.8;
      background-size: cover;
      background-position: center;
      aspect-ratio: 1;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

    }
  }
}
