@import "../../../Styles/variables";

.accountListWrapper {
  display: flex;
  flex-direction: column;
  margin-inline: -$space-x-1;

  .accountListHeader {
    background-color: $darkGray;
    padding: $space-x-1;
    h2 {
      color: white;
    }
  }

  .accountList {
    display: flex;
    flex-direction: column;
    gap: $space-y-3;
    background-color: $lightestGray;
    @media (min-width: $breakpoint) {
      align-items: center;
      gap: $gap-desktop;

    }
  }
}

.clipLoader {
  margin-block: 5rem;
  display: grid;
  place-content: center;
  min-height: 100vh;
}
