@import "../../../Styles/variables";

.dropdownWrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100dvh;
  width: 100vw;
  background-color: $darkTransparentLayer;
  backdrop-filter: blur(3px);

  z-index: 3;

  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95dvh;
    width: 100vw;
    background-color: $white;
    border-radius: 20px 20px 0px 0px;

    .dropdownHeader {
      display: flex;
      justify-content: flex-end;
      padding: 0.75rem;
      width: 100%;
      border-bottom: 1px solid $lineGray;
    }

    .dropdownContent {
      display: flex;
      flex-direction: column;
      padding: $space-x-1;
      overflow-y: auto;
      flex-grow: 1;
    }

    nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: $space-x-1;
        a, .menuButton {
          display: flex;
          gap: $space-x-1;
          padding: 8px 16px;
          color: $darkGray;
          border-radius: 0 20px;
          cursor: pointer;

          &.active {
            background-color: $lightestGray;
          }
        }
      }
    }
  }
}
