@import "../../../Styles/variables";

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 1rem;

  nav.desktop {
    display: none;
  }
  @media (min-width: $breakpoint) {
    nav.mobile {
      display: none;
    }
    nav.desktop {
      display: block;

    }
   }

  ul {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    
    & :nth-child(2) {
      margin-left: auto;
    }
  }

  .navIcon {
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    background-color: $lightestGray;
    border-radius: 50%;
    color: $darkGray;
    cursor: pointer;
    transition: .2s ease-in-out;
    &:hover {
      scale: .95;
      color: $darkestGray;
    }

    @media (min-width: $breakpoint) {
      width: 64px;
      height: 64px;
      i {
        font-size: 24px;
      }
    }
    @media (min-width: $breakpoint2) {
      width: 80px;
      height: 80px;

      i {
        font-size: 30px;
      }
    }
  }
}
