@import "../../../Styles/variables";

.paymentMethod {
  display: flex;
  flex-direction: column;
  padding-top: $space-y-3;
  border-top: 1px solid $lineGray;

  gap: $space-y-3;
  .paymentSelect {
    display: flex;
    justify-content: space-between;

    .paymentImg {
      height: 70px;
      padding: 0.5rem;
      border: 2px solid $lightGray;
      border-radius: 0.3rem;
      opacity: 0.7;
      transition: 0.2s;
      cursor: pointer;

      @media (min-width: $breakpoint) {
        height: 80px;

      }

      &.active {
        border: 2px solid $green;
        opacity: 1;
      }
    }

    .line {
      border-right: 1px solid $lineGray;
    }
  }
}
