@import "../../../Styles/variables";

.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: $space-y-3;

  .bookingContent {
    display: flex;
    flex-direction: column;
    gap: $space-y-3;
  }
  .coworkImg {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 0 1.25rem 0 1.25rem;
    background-size: contain;
  }

  .bookingSuccess {
    align-self: center;
    margin-bottom: 5rem;
  }
}
