@import "../../../styles/variables";

.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-y-3;

  @media (min-width: $breakpoint) {
    height: 100%;
  }

  .bookingContent {
    display: flex;
    flex-direction: column;
    gap: $space-y-3;

    @media (min-width: $breakpoint) {
      flex-direction: row;
      gap: $gap-desktop;
      height: 100%;


      .bookingCol {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $space-y-3;

        .colTop, .colBottom {
          display: flex;
          flex-direction: column;
          gap: $space-y-3;
        }
      }
    }
  }
  .coworkImg {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 0 1.25rem 0 1.25rem;
    object-fit: cover;
    @media (min-width: $breakpoint) {
      aspect-ratio: 4/2;

    }
  }
}
