@import '../../../Styles/variables';


.detailsContent {
    display: flex;
    flex-direction: column;
    gap: $space-y-3;

    p i {
        transform: translateY(1px); 
    }

    .description {
        padding-top: .75rem;
    }
}