

@import "../../styles/variables";

@keyframes accountFade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.account {
  margin-inline: $space-x-1;

  &.fadeIn {
    animation: accountFade 1.5s ease-in-out;
  }

  .accountHeaderWrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint) {
      align-items: center;
    }
    .accountHeader {
      @media (min-width: $breakpoint) {
        display: flex;
        justify-content: space-between;
        width: 85vw;
        margin-top: 2rem;
      }
      .accountLogo {
        height: 280px;
        display: grid;
        place-items: center;

        .h1 {
          display: flex;
          align-items: center;
          gap: 1rem;

          i {
            color: $darkGray;
            @media (min-width: $breakpoint) {
              font-size: 44px;
            }
          }
        }
      }
      .userInfo {
        display: flex;
        gap: $space-x-1;
        align-items: center;
        padding-bottom: 8px;
        .dot {
          width: 0.8rem;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: $green;
        }
      }
    }
  }
}
