@use "../Styles/mixins";
@import "./variables";

@mixin fonts {
  font-family: Poppins;

  a {
    text-decoration: none;
  }

  h1 {
    color: $darkGray;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    @media (min-width: $breakpoint) {
      font-size: 4rem;
      line-height: 111%; 
      &.small {
        font-size: 3.5rem;
      }
    }
    @media (min-width: $breakpoint2) {
      font-size: 5rem;
      line-height: 111%; 
      &.small {
        font-size: 4.5rem;
      }
    }

    & span.yellow {
      color: $yellow;
    }
  }

  h1.heroHeader {
    color: $white;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    display: flex;

    @media (min-width: $breakpoint) {
      font-size: 9rem;
    }
    @media (min-width: $breakpoint2) {
      font-size: 11.25rem;
    }
  }

  h2,
  .h2 {
    color: $lightGray;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 139.5%;
    @media (min-width: $breakpoint) {
      font-size: 2rem;
      line-height: normal;
    }
    @media (min-width: $breakpoint2) {
      font-size: 2.25rem;
      line-height: normal;
    }

    &.darkGray {
      color: $darkGray;
    }
  }

  h2.radjhani {
    color: $darkGray;
    font-family: Rajdhani;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    & span {
      font-family: Rajdhani;
      font-weight: 400;
    }
    &.white {
      color: $white;
    }
    @media (min-width: $breakpoint2) {
      font-size: 1.8rem;
    }
  }

  h3 {
    color: $darkGray;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (min-width: $breakpoint) {
      font-size: 3rem;
    }
    @media (min-width: $breakpoint2) {
      font-size: 3.5rem;
    }
  }

  p,
  .p,
  li,
  label {
    color: $gray;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &.italic {
      color: $lightGray;
      font-style: italic;
      font-weight: 400;
    }

    &.bold {
      font-weight: 700;
    }

    &.white {
      color: $white;
    }
    &.lightGray {
      color: $lightGray;
    }
    &.darkGray {
      color: $darkGray;
    }

    @media (min-width: $breakpoint2) {
      font-size: 1.5rem;
    }
  }

  p.radjhani {
    color: $gray;
    font-family: Rajdhani;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (min-width: $breakpoint2) {
      font-size: 1.75rem;
    }
  }

  p.xs {
    color: $lightGray;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &.bold {
      color: $darkGray;
      font-weight: 800;
    }

    &.white {
      color: $white;
    }
    @media (min-width: $breakpoint) {
      font-size: 1rem;

      &.bold {
        font-size: 1rem;
        font-weight: 800;
      }
    }
  }

  p.xsRadjhani {
    color: $gray;
    font-family: Rajdhani;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    @media (min-width: $breakpoint) {
      font-family: Rajdhani;
      font-size: 1rem;
    }
  }

  p.banner {
    color: $black;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 111%;

    &.white {
      color: $white;
    }

    & span.yellow {
      color: $yellow;
    }
    & span.turquoise {
      color: $turquoise;
    }
    @media (min-width: $breakpoint) {
      font-size: 3rem;
    }
    @media (min-width: $breakpoint2) {
      font-size: 4rem;
    }
  }

  ul {
    list-style: none;
  }

  i {
    font-size: 1.75rem;
    @media (min-width: $breakpoint) {
      font-size: 2.5rem;
    }
    @media (min-width: $breakpoint2) {
      font-size: 3rem;
    }
  }

  .greenButton {
    @include mixins.greenButton;
  }
  .invisibleButton {
    @include mixins.invisibleButton;
  }
  .text-center {
    text-align: center;
  }

  .underline {
    text-decoration: underline;
  }
  .pointer {
    cursor: pointer;
  }
}
