@import "../../../styles/variables";

.cardRating {
  align-self: flex-start;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  background-color: $white;
  border-radius: 0px 12px 0px 12px;
  padding: 6px 12px;

  @media (min-width: $breakpoint) {
    border-radius: 0px 16px 0px 16px;
    padding: 8px 16px;
  }

  .fa-star {
    font-size: 1.25rem;
    color: $yellow;
  }
}
